<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sashavarlamov.soldier_android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.sashavarlamov.soldier_android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sashavarlamov.soldier_android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-library
        android:name="com.google.android.gms" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyArF6h5ScNlGu3bT4BKSYjVWop-5L7KkrM" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DecisionActivity"
            android:label="@string/title_activity_decision"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.soldier_android.LoginActivity" />
        </activity>
        <activity
            android:name=".LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:parentActivityName=".DecisionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.soldier_android.DecisionActivity" />
        </activity>
        <activity
            android:name=".AdminLobbyActivity"
            android:label="@string/title_activity_admin_lobby"
            android:parentActivityName=".DecisionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.soldier_android.DecisionActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".LobbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sashavarlamov.soldier_android.LobbyActivity" />
        </activity>
    </application>

</manifest>
